@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body{
    background-color: #3A4257;
    color: white;
    max-width: 100%;
}

.container{
    margin: auto;
    padding: 10vw;
    max-width: 100%;
    position: relative;
    font-family: 'Inter', sans-serif;
    max-width: 100%;
}

.copyright-Index{
    font-size: small;
    font-family: 'Inter', sans-serif;
    margin-top: 10vh;
    text-align: justify;
}

.vl {
    border-left: 4px solid #F0DDBC;
    height: 525px;
}

.div-writing{
    padding-bottom: 3vh;
    padding-top: 10vh;
    max-width: 100%;
    margin-left: 2vw;
}

.index-name{
    font-weight: 700;
    font-size: 44px;
    color: #F0DDBC;
    font-family: 'Inter', sans-serif;
    max-width: 100%;
    letter-spacing: 1.5px;
}

.index-col-picture {
    margin-top: 6vh;
    max-width: 100%;
}

.index-picture {
    z-index: 999;
    position: absolute;
    max-width: 100%;
    
}

.index-picture:hover {
    z-index: 999;
    max-width: 100%;
    position: absolute;
    transform: translate(1.5rem, 1.5rem);
}

.index-socmed {
    display: inline-flex;
}

.icon-effect:hover{
    transform: scale(1.3);
}

.picture-set{
    border-radius: 5%;
    z-index: 999;
    width: 400px;
    height: 400px;
}

.pic-set:hover{
    border-radius: 5%;
    z-index: 999;
    width: 400px;
    height: 400px;
    transform: translate(1.5rem, 1.5rem);
}

.svg-class{
    position: absolute ;
}

p {
    font-size: medium;
    font-family: 'Inter', sans-serif;
    margin-right: 8%;
    text-align: justify;
}

hr{
    color: #F0DDBC;
}

.svg-classphone{
    visibility: hidden;
}

.svg-class{
    visibility: visible;
}


/* // Medium devices (tablets, 768px and below) */
@media (max-width: 1199.98px) { 
    .vl {
        border-left: none;
    }
    .container{
        max-width: 100%;
        margin: auto;
        padding: 8vw;
        position: relative;
        font-family: 'Inter', sans-serif;
    }

    .picture-set{
        border-radius: 5%;
        z-index: 999;
        width: 300px;
        height: 300px;
    }
    
    .pic-set:hover{
        border-radius: 5%;
        z-index: 999;
        width: 300px;
        height: 300px;
        transform: translate(1.5rem, 1.5rem);
    }

    .svg-class{
        visibility: hidden;
    }

    .svg-classphone{
        visibility: visible;
    }

    p {
        font-size: medium;
        font-family: 'Inter', sans-serif;
        text-align: justify;
    }
}